@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark text-text-primary;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"], input[type="number"], textarea {
  @apply w-full p-3 bg-background-light border-2 border-text-secondary rounded-lg focus:border-action-blue focus:outline-none transition;
}
